html {
	position: relative;
}

html, body {
	height: 100% !important;
	min-width: 1000px;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

body {
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: none;
	font-size: 14px;
	line-height: 1.5;
	cursor: default;
	position: relative;
	background: rgba(87, 121, 158, 1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57799e', endColorstr='#57799e', GradientType=0);
}

h1, h2, h3, h4, h5, h6 {
	color: #FFB20D;
	font-weight: bold;
	margin-bottom: 20px;
}

.icon-departure {
	transform: rotate(45deg)
}

.icon-arrive {
	transform: rotate(135deg)
}

.date-picker{
	position: relative;
}

.App {
	padding: 40px 0;
}

.container {
	position: relative;
	overflow: initial;
	width: 90%;
	max-height: 1000000000px;
	margin: 0 auto;
	border: 1px solid #000;
	border-top: 0;
	padding: 0 20px 10px;
	background: #fff;

	border-radius: 0 0 10px 10px;
	//transition: max-height 2s ease-in 0ms;
	box-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);

	.btn-dropdown-toggle {
		display: block;
		width: 1001%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		text-align: left;
		margin-bottom: 3px;
	}

	.block {
		padding: 5px 15px;
		border-radius: 0 0 20px 20px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
		margin-bottom: 30px;
		position: relative;

		.direction {
			border-right: 1px solid #eee;
			padding-bottom: 20px;

			label {
				display: block;
			}
		}
	}

	.row.block {
		margin-bottom: 30px;
	}

	&.navigator {
		border-top: 1px solid #000;
		border-bottom: 0;
		background: #fff;
		width: 90%;
		margin: 0 auto;
		padding: 0;
		border-radius: 10px 10px 0 0;
		overflow: hidden;

		ul {
			margin: 0;
			padding: 0;
			display: table;
			position: relative;
			width: 100%;
			height: 60px;
			table-layout: fixed;

			li {
				margin: 0;
				padding: 0;
				display: table-cell;
				height: 60px;
				vertical-align: middle;
				background-image: none;
				background: #eee;
				text-align: center;
				border-left: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				font-size: 18px;
				font-weight: bold;
				-webkit-transition: all 800ms linear;
				-moz-transition: all 800ms linear;
				-o-transition: all 800ms linear;
				transition: all 800ms linear;

				&:first-child {
					border-left: 0;
				}

				&.active {
					background: #FFB20D;
					border-left: 1px solid #FFB20D;
					color: #fff;
					border-bottom: 1px solid #d28f00;

					&.done {
						background: #02458d;
						color: #fff;
						border-bottom: 1px solid #02458d;
					}

					&:first-child {
						border-left: 0;
					}

				}
			}
		}
	}

	&.preloading {
		max-height: 300px;
		transition: max-height 0.4s ease-out 0s;
		overflow: hidden;
	}

	.preloader {
		position: absolute;
		background: rgba(255, 255, 255, 1);
		overflow: hidden;
		top: 0;
		text-align: center;
		width: 100%;
		height: 200%;
		margin-left: -20px;

		img {
			opacity: 1;
			position: absolute;
			top: 25%;
			left: 50%;
			height: 200px;
			width: 200px;
			margin: -100px 0 0 -100px;
		}
	}
}

.total-result {
	background: #02458d;
	color: #fff;
	margin: 0 -20px 20px;
	padding: 10px 40px 20px;
	position: relative;

	&:after {
		content: ' ';
		display: block;
		height: 20px;
		width: 100%;
		background: #fff;
		-webkit-border-radius: 10px 10px 0 0;
		-moz-border-radius: 10px 10px 0 0;
		border-radius: 10px 10px 0 0;
		border-top: 1px solid #000000;
		position: absolute;
		bottom: -10px;
		left: 0;
		box-shadow: 0 -20px 30px rgba(0, 0, 0, 0.5);
	}

	h4 {
		margin-bottom: 10px;
	}

	.passengers-list {
		list-style: none;
		padding-left: 0;

		li {
			margin-bottom: 5px;
		}
	}
}

.search-result {

	p {
		padding: 10px;
	}

	.flight {
		padding-top: 20px;

		h4 {
			color: #02458d;
			margin: 0;
			font-style: italic;
			text-align: center;
		}

		.flightNumber {
			font-weight: 100;
			font-size: 20px;
			font-family: 'Open Sans', sans-serif;
			text-align: center;
		}
	}

	.segments-list {
		position: relative;

		.segment {
			border-bottom: 1px solid #eee;
			padding: 60px 0;
			// padding: 10px 0;
			// position: relative;

			&:last-child {
				border: 0
			}

			.info {
				.col-xs-3 {
					padding: 0;
					border-left: 1px solid #fff;
				}

				p {
					text-align: center;

					&.airport-code {
						background: #eee;
					}
				}
			}
		}
	}

	.service {
		.like-link {
			color: #02458d;
			text-decoration: underline;
			font-family: 'Open Sans', sans-serif;
			cursor: pointer;

			&:hover {
				text-decoration: none;
			}
		}

		small {
			display: block;
			margin: 5px 0;
		}
	}

	.services-editor {
		position: absolute;
		top: 0;
		right: 0;
		width: 1px;
		height: 100%;
		background: #fff;
		transition: width 200ms ease-in 200ms;
		border-left: 1px solid #eee;
		overflow: hidden;

		&.active {
			width: 100%;
			opacity: 1;
			transition: width 200ms ease-in 0ms;
			overflow: inherit;

			.done {
				right: 0;
			}

			.done, .content {
				opacity: 1;
				transition: opacity 200ms ease-in 200ms;
			}
		}

		.done {
			position: absolute;
			top: -30px;
			color: #02458d;
			font-size: 30px;
			opacity: 0;
			cursor: pointer;
			right: -9999px;
			transition: opacity 200ms ease-in 0ms;
		}

		.content {
			opacity: 0;
			transition: opacity 200ms ease-in 0ms;
			padding: 0 10px;
			overflow-y: auto;
			height: 100%;

			.title-service-list {
				color: #02458d;
				font-weight: bold;
				text-align: right;
				border-bottom: 1px dashed #02458d;
				font-size: 16px;
			}

			.not-avaible-service-list {
				text-align: right;
			}

			.service-list {
				padding: 15px;
			}

			.head {
				text-align: center;
				color: #02458d;
				border-bottom: 1px solid #eee;
				padding: 0 0 10px;
				margin-top: -15px;
				margin-bottom: 0;

				.price {
					font-family: 'Ubuntu', sans-serif;
				}
			}

			.price {
				text-align: right;
				font-family: 'Open Sans', sans-serif;
			}

			.info {
				text-align: center;
			}

			.service {
				padding: 15px 0;
				margin-bottom: 0;
				cursor: pointer;
				transition: background 100ms ease-in;

				&:nth-child(2n-1) {
					background: #eee;
				}

				.info {
					.info-img{
						position: absolute;
						top: 0;
						left: 0;
						width: 25%;
						opacity: 0;
						z-index: 0;
						background: #fff;
						height: 100%;
						border-right: 1px solid #eee;

						img{
							max-width: 100%;
							max-height: 215px;
							margin: 0 auto;
						}
					}

					span {
						display: block;
						width: 20px;
						height: 20px;
						margin: -5px auto 0;
						border: 1px solid;
						line-height: 20px;
						border-radius: 10px;
						transition: all 100ms ease-in;

						&:hover {
							border-color: #FFB20D;
							background: #FFB20D;
							color: #fff;;

							& + .info-img {
								opacity: 1;
								z-index: 10;
								transition: opacity 100ms ease-in;
							}
						}

					}
				}


				&.active, &.active:hover {
					background: #02458d;
					color: #fff;

					.info-img {
						color: #000;
					}
				}

				&:hover {
					background: #ddd;
				}
			}
		}
	}

	.total {
		position: absolute;
		right: 0;
		top: 50%;
		height: 100%;
		margin-top: -115px;

		.total-container {
			margin-top: 10px;

			.total-price,
			.total-currency {
				font-size: 24px;
				color: #02458d;
				text-align: center;
				font-family: 'Open Sans', sans-serif;
				margin-bottom: -10px;
				line-height: 30px;
			}

			.selector {
				padding: 10px;
				text-align: center;
				color: #02458d;
				text-decoration: underline;
				font-size: 16px;
				margin-top: 10px;
				transition: color 200ms ease-in;
				cursor: pointer;

				&:hover {
					text-decoration: none;
				}

				&.active {
					color: #FFB20D;
				}
			}
		}
	}
}

.passenger-detail {
	.sex {
		margin-right: 10px;
	}
}